/* g_01_variable.css */
:root {
  --color-white: #fff;
  --color-01: #a05;
  --color-02: #f07;
  --font-size01: 20px;
  --size-01: 10px;
  --size-02: 200px;
}
li { --color-01: #f50 }

li {
  margin-bottom: 1rem;
}
p {
  color: var(--color-01);
}
.ex_wrap > li:nth-child(1) {
  font-weight: 700; color: var(--color-01);
  background-color: #fff;
  border-bottom: 2px solid var(--color-01);
}
.ex_wrap > li:nth-child(2) {
  border-bottom: 2px solid var(--color-01);
  font-size: var(--font-size01);
}
.ex_wrap > li:nth-child(3) {
  width: 200px; height: 100px;
  color: var(--color-01);
  border-radius: var(--size-01);
  background-color: #fff;
}

.ex_wrap > li:nth-child(4) {
  width: 200px; height: 200px;
  background-color: #fff;
}
@supports (width: var(--size-02)) {
  .ex_wrap > li:nth-child(4) {
    width: var(--size-02); height: var(--size-02);
    background-color: var(--color-white);
  }
}

.ex_wrap > li:nth-child(5) {
  width: 200px; height: 200px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #f07;

  width: var(--size-02); height: var(--size-02);
  border-radius: var(--size-01);
  font-size: var(--font-size01);
  color: var(--color-white);
  background-color: var(--color-02);
}
