@charset "UTF-8";
/* reset.css */

html, body { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,p,pre,address,cite,abbr {
  margin: 0; padding: 0;
  color: #333;
}
a { color: inherit; }
ul,li { list-style: none; }