@media screen and (min-width:1440px) {
  #headBox {
    height: 6.25rem;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
  }
  /* #footBox ------------------------------------------------ */
  #footBox { height: 28.125rem; }
}