@media screen and (min-width:1440px) {
  /* #newBox --------------------------------------------- */
  #newBox {
    height: 43.75rem;
    padding-top: 4.0625rem; padding-bottom: 4.375rem;
  }
  .area_title { width: 58.75rem; }
}