/* main_page/b_smartphone.css */

@media screen and (max-width:599px) {
  /* 기준 디바이스 크기 : 320px */

  #headBox {  height: 3.125rem; padding: 0.5rem 0.625rem; }
  .area_head { height: 100%; }
  h1 {
    float: none;
    position: absolute; top: 0.5rem; left: 50%;
    width: 3.75rem; height: 2.1875rem;
    transform: translateX(-50%);
  }
  .nav_btn {
    display: block;
    position: relative; z-index: 100;
    width: 2.1875rem; height: 2.1875rem;
  }
  #navBox {
    display: none;
    position: absolute; top: 0; left: 0; z-index: 50;
    padding: 0.5rem 1.875rem; box-sizing: border-box;
    width: 100%; height: 100vh;
    background-image: url("../../img/main_page_re/mobile/b_navBox/smartophone_nav_origin.png");
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }
  #navBox::before {
    content: ""; display: block; z-index: 10; z-index: -1;
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--primary_01);
    opacity: 0.85;
  }
  #navBox h2 {
    position: relative; z-index: 100;
    width: 3.75rem; height: 2.1875rem;
    margin: auto; margin-bottom: 1.875rem;
    background-image: url("../../img/main_page_re/mobile/b_navBox/logo_white.png");
    background-image: url("../../img/main_page_re/mobile/b_navBox/logo_white.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .unb, .gnb { float: none; width: 100%; min-width: auto; height: auto; }
  .unb {
    width: 80%;
    margin: auto; margin-bottom: 1rem;
    border-bottom: 0.0625rem solid var(--white);
  }
  .unb li {
    float: left;
    width: calc(50% - 10px); height: auto;
    margin: 0; margin-bottom: 0.625rem;
  }
  .unb li:nth-child(1) { float: left; }
  .unb li:nth-child(2n) { float: right; }
  .gnb ul { float: none; width: 100%; height: auto; }
  .gnb li {
    float: none;
    width: 100%; height: 3.125rem;
    margin-bottom: 0.9375rem; padding: 0;
  }
  .unb a {
    height: 1.875rem;
    font-size: 1rem; line-height: 1.875rem;
    color: var(--white);
  }
  .gnb a {
    display: block;
    width: 100%; height: 100%;
    line-height: 3.125rem; color: var(--white);
    padding: 0;
    border: 0.0625rem solid var(--white);
    border-radius: 0.3125rem;
    font-size: 18px; font-weight: 400;
  }

  /* #slideBox ------------------------------------------- */
  #slideBox {
    min-height: 31.25rem;
    padding-top: 3.125rem;
  }

  /* #newBox --------------------------------------------- */
  #newBox {
    height: 100vh; min-height: 37.5rem; max-height: 37.5rem;
    padding-top: 5rem; padding-bottom: 5.625rem;
    box-sizing: border-box;
  }
  .area_title {
    width: 100%; height: auto;
    text-align: center;
    font-size: 1.75rem;
  }
  .newBox_area { width: 50.875rem; height: 20rem; }
  .newBox_area li { width: 16.25rem; margin-left: 1.0625rem; }

  /* #subBox ----------------------------------------------- */
  #subBox { height: 100vh; min-height: 31.25rem; background-color: var(--white); }
  #subBox > .area {
    width: 100%; min-width: auto; height: 100%;
  }
  .subbox_content {
    z-index: 100; left: 50%; bottom: 20%;
    width: 90%;
    transform: translateX(-50%);
  }
  .subbox_content p { min-height: 80px; margin-bottom: 35px; }
  .sub_area_btn { height: auto; }
  .sub_area_btn a {
    display: block;
    float: none;
    width: 100%; height: 45px;
    margin-bottom: 14px;
  }
  .sub_area_btn a:nth-child(1) {
    width: 100%; height: 60px;
    line-height: 60px;
    font-weight: 700;
  }
  .sub_area_btn a:nth-child(2) { width: 100%; height: 45px; }
  .subbox_img {
    width: 100%; height: 100%;
    background-image: url("../../img/main_page_re/mobile/e_subBox/sub_img.png");
    opacity: 0.3;
  }

  /* #bestBox ---------------------------------------------- */
  #bestBox {
    height: auto; min-height: 43.75rem;
    padding: 2.5rem; padding-bottom: 8.75rem;
  }

  /* #galleryBox ------------------------------------------- */
  #galleryBox {
    height: auto; min-height: 61.25rem;
    padding-top: 1.5rem; padding-bottom: 8.75rem;
  }
  #galleryBox .area_content {
    width: 100%;
  }


  /* #sponsorBox -------------------------------------------- */
  #sponsorBox {
    height: 25rem;
  }

  /* #footBox ------------------------------------------------ */
  #footBox { height: 26.5625rem; }
}
