/* b_footBox.css */

#footBox {
  width: 100%; height: 450px;
  padding-top: 68px;
  box-sizing: border-box;
  background-color: #333;
}
.area_foot {
  height: auto;
}
.info_logo {
  width: 120px; height: 70px;
  margin-bottom: 45px;
  background-image: url("../../img/footBox/osam_sub_logo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.info_company {
  width: 100%; height: auto;
  margin-bottom: 70px;
  font-size: 0.875rem; color: #fff;
}
.company_content {
  float: left;
  width: 600px; height: 200px;
}
.list_corp {
  width: 100%; height: 27px;
  margin-bottom: 25px;
}
.list_corp li { float: left; margin-right: 14px; }
.list_corp li a { padding: 5px; }
address {
  width: 100%; height: auto;
  font-style: normal;
}
address p {
  width: 100%; height: auto;
  padding-left: 6px;
}
address dl {
  width: 100%; height: auto;
  margin-top: 5px;
  margin-bottom: 30px;
}
address dt {
  display: inline-block;
  padding: 5px 5px;
  text-transform: uppercase;
}
address dt::after {
  content: ":";
  padding-left: 8px;
}
address dd {
  display: inline-block;
  padding: 5px 5px;
}
address dd::after { content: "|"; padding-left: 8px; }
address dd:last-of-type::after { content: ""; display: none; }

.social_family {
  float: right;
  width: 160px; height: 135px;
}
.social li {
  float: left;
  width: 40px; height: 40px;
  margin-right: 20px; margin-bottom: 8px;
  background-image: url("../../img/footBox/sns.png");
  background-repeat: no-repeat;
}
.social li > a {
  display: block;
  width: 100%; height: 100%; 
}
.social li:nth-child(1) {
  background-position: 0 0;
}
.social li:nth-child(2) {
  background-position: -60px 0;
}
.social li:last-child {
  margin-right: 0;
  background-position: -120px 0;
}
select {
  width: 100%; height: 30px;
  margin-bottom: 9px;
  border-radius: 3px;
  font-size: 0.75rem;
  text-indent: 5px;
}
.authentication {
  width: 100%; height: 50px;
  border-radius: 3px;
  background-color: #fff;
}